body{
    background-color: rgb(10, 92, 92);
    font: Arial 23px;
    }
    header{
    border-radius: 12px;
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    }
    section{
    background-color: antiquewhite;
    border-radius: 12px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 10px;
    }
    footer{
    text-align: center;
    color: rgb(201, 211, 219);
    }
    div{
        text-align: center;
    }